.ricky{
    background: black;
    padding: 10px;
    z-index: 0;
    
}
#mufu{
    margin-top: 5%;
}


@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .lift{
        overflow-x: hidden;
    }
    #mufu{
        margin-top: -0%;
    }
    .ricky{
        display: none;
    }
    #without{
        /* margin-top:11%; */
        background-color: white;
    }
    
    #mass{
        color: black;
    }
    #lola{
        width: 100%;
        cursor: pointer;
    }
    #lolu{
        width: 100%;
        cursor: pointer;
    }
    #aka{
        border-bottom: 1px solid black;
    }
    
    #nost{
        width: 100%;
    }
    #nast{
        width: 100%;
    }
    
    #oyaa{
        margin-top: 70%;
    }
    #oyee{
        margin-top: -120%;
    }
    #yend{
        margin-top: 69%;
    }
    #rend{
        margin-top: -120%;
    }
    #smilly p{
        margin-right: 39%;
    }
    #ramal{
        margin-top: 56%;
    }
    .tuooo{
        margin-top: 40%;
    }
    
    
}

.rocky{
    margin-left: 60%;
}
.rocky ul{
    list-style-type: none;
    box-sizing: border-box;
}
.rocky li{
    word-spacing: 30px;
    display: inline-block;
    color: white;
}
/*  */
.without{
    background:rgb(44,94,173);
    padding: 10%;
}
.mass{
    color: white;
    
}
.mass h1{
    font-size: 50px;
    font-weight:bold;
}
.mass p{
    font-size:20px;
    font-weight: none;
}
.lola{
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(242,109,33);
    color: white;
    cursor: pointer;
}
.lola:hover{
    background: rgb(243, 97, 12);
    transition: 1s;
}
.lolu{
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255,255,255);
    color: black;
    cursor: pointer;
}
.lolu:hover{
    background:rgb(250, 194, 162) ;
    transition: 1s;
}
.stood{
    text-align: center;
}
/*  */
#mama{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
/*  */
.back{
    background: rgb(249,249,249);
    
}
/*  */
.life{
    background-color: rgb(255,255,255);
}
.masss{
    text-align: center;
}
/*  */
.pine{
    background: rgb(241,241,241);
}
/*  */
#rlay{
    background: rgb(249,249,249);
}
/*  */
.rira{
    background: rgb(255,255,255);
}
/*  */
.sokoto{
    background: rgb(12,40,74);
    padding: 20px;
    color: white;
}
/*  */
.chop{
    background: rgb(241,241,241);
    padding: 10%;
}
/*  */
.pare{
    background: rgb(248,248,248);
}
/*  */
.fyone{
    text-align: center;
}
/*  */
.dware{
    background: rgb(246,247,249);
    padding-bottom: 20%;
}
.fwear{
    text-align: center;
}
.fwear a{
    text-decoration: none;
}
.yuooo{
    float: left;
    
}
.tuooo{
    margin-left: 20%;
}
#ramal{
    text-align: center;
    
}
/*  */
#smilly p {
    text-align: center;
    margin-top: -20%;
    margin-left: 19%;
}
#smilly a{
    text-align: center;
    margin-left: 10rem;
}
/*  */
#akae{
    border: 1px solid rgb(207, 195, 195);
    border-radius: 15px;
}
#akae:hover{
    margin-top: -1%;
    transition: 1s;
}
#akar{
    border: 1px solid rgb(207, 195, 195);
    border-radius: 15px;
}
#akat{
    border: 1px solid rgb(207, 195, 195);
    border-radius: 15px;
}
#akay{
    border: 1px solid rgb(207, 195, 195);
    border-radius: 15px;
}
#akar:hover{
    margin-top: -1%;
    transition: 1s;
}
#akat:hover{
    margin-top: -1%;
    transition: 1s;
}
#akay:hover{
    margin-top: -1%;
    transition: 1s;
}
/*  */
.tual{
    background: rgb(249,249,249);
}
.tuaal{
    text-align: center;
}
.racky{
    text-align: center;
    background: black;
    color: white;
    z-index: 0;
}
/*  */
.bolu{
    background: rgb(57,57,77);
    color: white;
}
.bolu ul{
    list-style-type: none;
}


